@{
    ViewData["Title"] = "Finger Twister";
}
<div class="row">
    <div class="col-xs-3"><h2>Level: </h2></div>
    <div class="col-xs-3"><h2 id="level">1</h2></div>
    @*<div class="col-xs-3"><button id="multi-p" class="btn-success btn-lg" data-toggle="button">Single</button></div>*@
    <div class="col-xs-6"><button id="difficult" class="btn-success btn-lg" data-toggle="button">Currently Easy</button></div>
</div>
<div class="row">
    <div class="col-xs-6"><h2>Scores: </h2></div>
    <div class="col-xs-6"><h2 id="scores"></h2></div>
</div>
<div class="row">
    <div class="col-xs-3">
        <button id="1" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="2" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="3" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="4" class="btn-default btn-lg game">Press</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <button id="5" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="6" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="7" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="8" class="btn-default btn-lg game">Press</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <button id="9" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="10" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="11" class="btn-default btn-lg game">Press</button>
    </div>
    <div class="col-xs-3">
        <button id="12" class="btn-default btn-lg game">Press</button>
    </div>
</div>
